@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');


*{
	margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 outline: none;
	 text-decoration: none;
	 list-style-type: none;
	 font-family: 'Baloo Da 2',cursive;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.navbar{
	width: 100%;
	height: 8vh;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	 top: -8rem;
	 z-index: 10;
	 padding: 3rem;
	 transition: height .5s ;
	animation: aminatenav 1s .5s forwards;
}
@keyframes aminatenav{
	0%{
		top:  -8rem;
	}
	100%{
		top: 0;
	}
}
.navbar.change{
	height: 100vh;
}
.nav-list{
	opacity: 0;
	visibility: hidden;
	top: 25%;
	left: 50%;
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	transform: translateX(-30%);
	transition: all 0.2s ;

}
.change .nav-list {
	opacity: 1;
	visibility: visible;
	transition: all 0.7s 0.5s;

}

.navbar-link{
font-family: 'MADE Soulmaze', sans-serif;
font-size: 4rem;
letter-spacing: .3rem;
color: white;
margin: 2rem 0;
transition: color
0.4s ;
}
.navbar-link:hover{
	color: #9e0e09;
}
.logo{
	position: absolute;
	top: .5rem;
	left:4rem;
}
.logo a{
font-family: 'MADE Soulmaze', sans-serif;
font-size: 2.5rem;
color: white;
letter-spacing: .1rem;
}
.logo span{
	font-size: 3.5rem;
	font-weight: bold;
	color: red;
}

.navlist{
	display: none;
}

.menu{
	width: 4rem;
	height: 4rem;
	/*background-color: white;*/
	position: fixed;
	top: 2rem;
	right: 4rem;
	z-index: 100;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;

}
.line{
	width: 100%;
	height: .2rem;
	background-color: white;
	transition: all 0.5s ;
}
.line-1{
	width: 50%;

}
.change .line-1{
	transform:  translate(100% ,1rem)rotate(-30deg);
	transform-origin: right;
}

.line-3{
	width: 50%;
	margin-left: auto;
}
.change .line-3{

	transform:  translateY(-1rem)rotate(35deg);
	transform-origin: right;
}
.section-1{
	width: 100%;
	height: 100vh;
	background: url(images/dark-bg.jpeg) no-repeat;
background-size: cover;
position: relative;
}
.banner{
	width: 100%;
	position: absolute;
	top:20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;

}
.banner-heading{
	overflow: hidden;
	margin-bottom:  4rem;
	height: 20rem;
	perspective: 50rem;
}
.banner-heading span{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Oswald',sans-serif;
	font-weight: 400;
	font-size: 12rem;
	text-transform: uppercase;
	color: white;
	text-shadow: 0.3rem 0.3rem .5rem  rgba(0,0,0,0.5);
	transform: translateZ(8rem);
	opacity: 0;
	letter-spacing: 3rem;
}
.heading-1{
	animation: animateheading 12s 3s infinite;
}
.heading-2{
	animation: animateheading 12s 6s infinite;
}
.heading-3{
	animation: animateheading 12s 9s infinite;
}
.heading-4{
	animation: animateheading 12s 12s infinite;
}
@keyframes animateheading{
	0%{
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	3%{
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
25%{
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
28%{
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	100%{
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	
} 
.banner-paragraph{
	font-size: 4rem;
	 font-weight: 499;
	 text-transform:uppercase;

color: white;
background-color: rgba(0,0,0,0.5);
width: 30%;
margin: 0 auto 4rem auto;
padding: 3rem 0;
box-shadow: 1rem 1rem 6rem  rgba(0,0,0,0.5);
opacity: 0;
visibility: hidden;
animation: fade 1s 1.5s forwards; 
}
@keyframes fade{
	0%{opacity: 0;
		visibility: hidden;
}
	100%{
		opacity: 1;
	visibility: visible;
	}
}
.banner-btn{
	width: 30rem;
	height: 6rem;
	background: linear-gradient(to right ,red,#7a1010 );
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
	border: .1rem solid #80050;
	box-shadow: 1rem 2rem 3rem rgba(
	0,0,0,0.5);
text-shadow: .6rem .3rem .4rem 
rgba(0,0,0,0.5);
animation: fade 1s 2s forwards; 
opacity: 0;
visibility: hidden;
cursor: pointer;
position: relative;
overflow: hidden;
}

.banner-btn:before{

content: '';
width: 100%;
height: 100%;
background: linear-gradient(to right ,transparent, white ,transparent);
position: absolute;
top: 0;
left: -100%;
transform: skewX(30deg);
transition: left .5s ;

}
.banner-btn:hover::before{
	left: 100%;
}

.section-2{
	position: relative;
width: 100%;
height: 100vh;
background-color: #222020;
display: flex;
align-items: center;
/*flex-direction: column;*/
padding:0 10rem ;
}
.section-heading{
	font-family: 'Oswald',sans-serif;
	font-size: 10rem;
	font-weight: 300;
	color: #ddd;
margin-right: 4rem;
}

.vedio-wrapper{
	width: 100rem;
	height: 50rem;
	position: absolute;
	top: 5rem;
	right: 15rem;
	overflow: hidden;
	box-shadow: 3rem 3rem 3rem rgba(0,0,0,0.7);
}
.vedio{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.3;

}
.vedio-bar-wrapper{
	width: 100%;
	height: 0.7rem;
	position: absolute;
	top: 0 ;
	left: 0;
	background-color: black;
}
.vedio-bar{
	height: 100%;
	width: 0;
	background-color: orange;
	transition: width .2s linear;
}

.controls{
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	transform: translateY(calc(100% - .4rem));
	transition: transform 0.4s;
}
.vedio-wrapper:hover .controls{
	transform: translateY(0);
}
.section-2-paragraph:hover .controls{
	transform: translateY(0);
}
.button{
	padding: 2rem 1rem 1rem 1rem;

}
.button button{
	border: none;
background: none;
cursor: pointer;
}
.button i{
	font-size: 3rem;
	color: white;
}
.section-2-paragraph{
	width: 100rem;
	position: absolute;
	bottom: 8rem;
	right: 15rem;
	font-size: 2.4rem;
	color: white;
	border-top: .3rem double #aaa;
	border-bottom: .3rem double #aaa;
	padding-left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	line-height: 1.5;
	text-shadow: 1rem 1rem 2rem rgba(0,0,0,0.7);
}

.fa-quote-left{
	align-self: flex-start;
	font-size: 5rem;
	margin-bottom: 2rem;

}

.fa-quote-right{
	align-self: flex-end;
	font-size: 5rem;
	margin-bottom: 2rem;

}


.section-heading-line{
	width: 15rem;
	height: 0.2rem;
	background-color: #ddd;

}



.section-3{
	width: 100%;
	height: 100vh;
	background-color: #03070e;
	display: flex;align-items: center;
padding: 10rem;
}
.pricing-cards-wrapper{
	padding: 5rem;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	/*align-items: center;*/
	margin-left: 10rem;

}
.pricing-card{
	width: 25rem !important;
	height: 45rem !important;
background-color: #181b1d;
box-shadow: 2rem 2rem 6rem rgba(0,0,0,0.7);
border-radius: 1rem;
/*transform: rotateY(180deg);*/

}
.pricing-card-front{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.pricing-card-heading{
	font-size: 2rem;
	font-weight: 300;
	color: #fff;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	padding-left:2rem;
}
.heading-free{
	border-radius: 1rem 1rem 0 0;
	background: linear-gradient(to right,#087285,#0da5d3);
}
.heading-basic{
	border-radius: 1rem 1rem 0 0;
	background: linear-gradient(to right,#946809,#bdba0e);
}

.heading-standard{
	border-radius: 1rem 1rem 0 0;
	background: linear-gradient(to right,#a10c14,#e23b3b);
}
.heading-premium{
	border-radius: 1rem 1rem 0 0;
	background: linear-gradient(to right,#0b7e48,#3be286);
}
.pricing-card-price{
	font-family: 'MADE Soulmaze',sans-serif;
	font-size: 7rem;
	font-weight: 300;
	color: white;
}
.list-free li{
	color: #0da5d3;
}
.list-basic li{
	color: #bdba0e;
}.list-standard li{
	color: #e23b3b;
}.list-premium li{
	color: #3be286;
}
.pricing-card-list i{
	font-size: 1.8rem;
width: 3rem;	
}
.pricing-card-list li{
margin-top: 0.5rem;
}
.pricing-card-list span {
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1rem;

}
.pricing-card-btn{
	width: 18rem;
	height: 5rem;
	margin-bottom: 3rem;
	border-radius: 3rem;
	border: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
	text-shadow: .3rem .3rem .6rem rgba(0,0,0,0.5);
}
.btn-free{
	background-color:#0da5d3; 
}
.btn-basic{
	background-color:#bdba0e; 
}
.btn-standard{
	background-color:#e23b3b; 
}
.btn-premium{
	background-color:#3be286; 
}

.pricing-card-back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
	border-radius: 1rem;
}
.back-free{
	
	background: linear-gradient(to right,#087285,#0da5d3);
}
.back-basic{
	
	background: linear-gradient(to right,#946809,#bdba0e);
}

.back-standard{
	
	background: linear-gradient(to right,#a10c14,#e23b3b);
}
.back-premium{
	
	background: linear-gradient(to right,#0b7e48,#3be286);
}
.pricing-card-back a{
	font-size: 2.5rem;
	color: white;
}

.section-4{
	width: 100%;
	height: 100vh;
	background-color: #171718;
	display: flex;
	align-items: center;
	padding: 0 10rem;
}
.contact-wrapper{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-details{
	display: flex;
	margin-bottom: 8rem;
}
.contact-details div{
	width: 23rem;
	text-align: center;
	margin-top: 4rem;
}
.contact-details i {
	font-size: 5rem;
	color:#7a1010;
}
.contact-details h3{
	font-family: 'MADE Soulmaze',sans-serif;
	font-size: 2.5rem;
	margin: 2rem 0 ;
	color: #ccc;
}
.contact-details p{
	font-size: 1.6rem;
	color: white;
}
.contact-wrapper h1 {
	font-size:4rem;
	color: white;
	text-transform: uppercase;
	margin-bottom: 3rem;
}

.contact-form{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contact-form input ,.contact-form textarea{
	padding: 1.5rem;
	background-color: #444;
	color: white;
	border: none;
	margin-bottom: 2rem;
	font-family: 'Oswald',sans-serif;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
}
.contact-form textarea{
	max-width: 100%;
	max-height: 15rem;
	min-height: 7.5rem;
}
.contact-form input[type='submit']{
	background-color: #7a1010;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.contact-form input[type='submit']:hover{
	background-color: #5f0303;
	
	cursor: pointer;
}
.footer{
	width: 100%;
	height: 10vh;
	background-color:   #171718;

}
.footer-nav{
	display: flex;
align-items: center;
justify-content: space-between;
width: 30%;
}
.footer-nav a{
	text-decoration: none;
	color: white;
	font-size: 3rem;
}
.footer-nav a:hover{
color: #862323;
}


@media(max-width: 1800px){
	.vedio-wrapper{
		width: 90rem;
		height: 45rem;
		right: 10rem;
	}
	.section-2-paragraph{
		width: 90rem;
		right: 10rem;
	}
	.section-3 .section-heading-line{
		margin-right: 3rem;
	}
	.section-4 .section-heading-line{
		margin-right: 3rem;
	}
}
@media(max-width: 1650px){
	html{
		font-size:57%; 
	}
	.vedio-wrapper{
		width: 85rem;
		height: 40rem;
		right: 5rem;
	}
	.section-2-paragraph{
		width: 85rem;
		right: 5rem;
		bottom: 10rem;
 	}
	.section-3 .section-heading-line{
		margin-right: 3rem;
	}
	.section-4 .section-heading-line{
		margin-right: 3rem;
	}
}

@media(max-width: 1400px){
	.section-heading-line{
		display: none;
	}
	..swiper-container-3d{
		width: 100%;
	}
}
@media(max-width: 1350px){
	.footer-nav{
		width: 40%;
	}
	.banner-heading span{
		font-size: 10rem;
	}
	.banner-paragraph{
		font-size: 3rem;
	}
}
@media(max-width: 1250px){
	.section-2,.section-3{
		flex-direction: column;
	}
	.vedio-wrapper{
		top: 20%;
		left: 50%;
		transform: translateX(-50%);

	}
	.section-2{
		height: 120vh;
	}
    .section-2-paragraph{
    	bottom: 5%;
    	left: 50%;
    	transform: translateX(-50%);
    }
   
    .section-3{
    	height: auto;
    	padding: 5rem 0 10rem 0;

    }
    .banner-heading span{
    	font-size: 6rem;
    }
    .swiper-container{
    	width: 100%;
    }
}
@media(max-width: 1050px){



	.section-4{
		flex-direction: column;
	}
	
	
    .section-3{
    	height: auto;
    	padding: 5rem 0 10rem 0;

    }
    .banner-paragraph{
    	width: 50%;
    }
    .footer-nav{
    	width: 60%;
    	margin: 0 20rem;
    	border-top: .1px solid grey;
    }
    .footer-nav a {
    	margin-right: 2rem;

    }

}


@media(max-width: 810px){
.vedio-wrapper{
		width: 65rem;
		
	}
	.section-2-paragraph{
		width: 65rem;
		right: 5rem;
		bottom: 10rem;
 	}
 	 .footer-nav a {
    	font-size: 2.5rem;

    }

 	
}


@media(max-width: 650px){

 .banner-heading span{
    	font-size: 3rem;
    	margin: 0;
    	top: 10vh;
    }
    .section-heading{
    	font-size: 5rem;
    }
    html{
    	font-size: 45%;
    }
 	
}

@media(max-height: 900px){
	.section-2{
		height: 140vh;
	}

}
@media(max-height: 700px){
	.section-2{
		height: 180vh;
	}

}




@media(max-width: 550px){

 .banner-heading span{
    	font-size: 3rem;
    	margin: 0;
    	top: 10vh;
    }
  .contact-details{
  	display: flex;
  flex-direction: column;
  }
  .section-4{
height: auto;
  }
  .vedio-wrapper{
		width: 40rem;
		
	}
	.section-2-paragraph{
		width: 40rem;
		right: 5rem;
		bottom: 10rem;
 	}
 	.footer-nav{
 		width: 100%;
 		margin: 0;
 	}
}